{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p><strong>Hi there, I am Vishal Roy</strong></p>
        <p>I'm Vishal Roy from India, and I love to work in the Development field. I really enjoy learning languages, libraries and frameworks like React, NodeJS, Python and many more. I also enjoy wireframing. You can check out my <a href="https://www.linkedin.com/in/vishal-roy-67770a17a/">LinkedIn profile</a></p>
        <p>I am always ready to learn new stuffs not necessarily belonging to my own domain but try to explore other fields too.
          Having interest in finance,economics,
          politics,technology and teaching I try to gain as much as I can in this short and beautiful life to make it more meaningful. </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}